#Start {
    height: 200%;
    background-color: rgb(201, 200, 156);
}

.start-item {
    height: 50%;
    padding: 5rem;
}

.start-item-text {
    color: black;
    font-size: 1.5rem;
}

.big-font {
    font-size: 3rem;
}